::ng-deep .mat-snack-bar-container {
    background-color: #4caf50; /* Green background for success */
    color: blueviolet;
    font-size: 16px;
  }
  


  
.save-button-container{
  position: absolute;
  right: 16%;
  bottom: 8%;
}
::ng-deep .cdk-overlay-pane.mat-mdc-select-panel-above {
  position: relative !important;
  background: white; 
}
