// ::ng-deep .mat-snack-bar-container {
//     background-color: black; /* Green background for success */
//     color: white;
//     font-size: 16px;
//   }
  


  
.save-button-container{
  position: fixed;
  right: 16%;
  bottom: 8%;
}
// ::ng-deep .cdk-overlay-pane.mat-mdc-select-panel-above {
//   position: relative !important;
//   background: white; 
// }
.save-button-container{
    display: flex !important;
    gap: 30px !important;
    position: absolute;
    right: 254px;
    button{
    background: black;
    color: white;
    }
}