
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <ng-container matColumnDef="day">
    <th mat-header-cell *matHeaderCellDef> Day </th>
    <td mat-cell *matCellDef="let element">
      {{ element.day }}
    </td>
  </ng-container>

  <ng-container matColumnDef="books">
    <th mat-header-cell *matHeaderCellDef> Books </th>
    <td mat-cell *matCellDef="let element">
      <todo-checkbox 
        [checked]="element.books" 
        (stateChange)="onCheckboxChange(element, 'books', $event)">
      </todo-checkbox>
    </td>
  </ng-container>

  <ng-container matColumnDef="skills">
    <th mat-header-cell *matHeaderCellDef> Skills </th>
    <td mat-cell *matCellDef="let element">
      <todo-checkbox 
        [checked]="element.skills" 
        (stateChange)="onCheckboxChange(element, 'skills', $event)">
      </todo-checkbox>
    </td>
  </ng-container>

  <ng-container matColumnDef="meditate">
    <th mat-header-cell *matHeaderCellDef> Meditate </th>
    <td mat-cell *matCellDef="let element">
      <todo-checkbox 
        [checked]="element.meditate" 
        (stateChange)="onCheckboxChange(element, 'meditate', $event)">
      </todo-checkbox>
    </td>
  </ng-container>

  <ng-container matColumnDef="workout">
    <th mat-header-cell *matHeaderCellDef> Workout </th>
    <td mat-cell *matCellDef="let element">
      <todo-checkbox 
        [checked]="element.workout" 
        (stateChange)="onCheckboxChange(element, 'workout', $event)">
      </todo-checkbox>
    </td>
  </ng-container>

  <ng-container matColumnDef="completed">
    <th mat-header-cell *matHeaderCellDef> Completed </th>

    <td mat-cell *matCellDef="let element">
      
      {{ element.completed }}
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<mat-paginator [length]="dataSource.data.length" [pageSize]="7" [pageSizeOptions]="[7, 10, 25]" showFirstLastButtons></mat-paginator>

<div class="save-button-container">
  <button mat-raised-button (click)="openResetDialog()" >Reset</button>
  <button mat-raised-button  (click)="saveGridData()">Save Changes</button>
</div>
