@use '@angular/material' as mat;

@include mat.core();

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.items{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 32px;
    .progress-bar{
        // position: relative;
        left: 15%;
        border: 2px solid black;
        padding: 10px;
        max-height: fit-content;
    }
    }

.progressSpinner {
    display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
  }
  mat-snack-bar-container{
    transform: scale(1);
    opacity: 1;
    transform: scale(1);
    opacity: 1;
    position: absolute;
    left: 100;
    top: 0;
    width: fit-content;
    height: fit-content;
  }

  ::ng-deep cdk-overlay-pane.mat-mdc-select-panel-above.error {
    background-color: #f44336; /* Red background for errors */
  }

  .progress-bar{
    margin-top: 22px;
    width: 390px;
    height: fit-content;

  }

  .logout-btn{
  position: absolute;
  right: 15px;
  top: 15px;
  }




  // .save-button-container{
  //   position: fixed;
  //   right: 8%;
  //   bottom: 8%;
  // }
  .save-button-container{
    display: flex !important;
    gap: 30px !important;
    // position: absolute;
    // right: 254px;
    button{
    background: black;
    color: white;
    }
}
.quote{
  height: 40px;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 5px;
  // background-color: black !important;
  // color: white !important;
  border: 2px solid black;
  width: fit-content;
  margin: 20px 0px 20px 0;
  mat-icon{
    border: 2px solid black;
    border-radius: 29%;
    margin-left: 5px;
    width: fit-content;
    cursor: pointer;
    display: inline-block;
    transition: transform 0.6s ease-in-out;
  }
  mat-icon.rotate {
    transform: rotate(360deg);
  }
}

.title{
  h2{
    height: fit-content !important;
    margin-bottom: 4px !important;  
  }
 
}
