.column-row {
  padding-top: 4px;
    display: flex;
    align-items: top;
    gap: 10px;
    margin-bottom: 10px;
  }
  
  mat-form-field {
    flex: 1;
  }
  
  .delete-btn{
    margin-top: 2px;
    max-height: fit-content;
    padding: 0;
    margin :0 ;
    max-width: fit-content;
    background-color: white;
    border: 0;
    position: relative;
    top: 0;
    transition: top ease 0.5s;
  }
  .delete-btn:hover{
    top: -3px;
    box-shadow: 0 0 3px black; 
    border-radius: 5px;
   }

  .openAddorDeletePopup{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 492px;
    overflow-y: scroll;
    
  }


  .buttons{
    display: flex;
    gap: 130px;
    margin-top: 20px;
  }

  .input-box{
    max-height: 298px;
    overflow-y: scroll;
  }
  .add-button{
    margin-top: 10px;
  }
  .buttons{
  button{
    background-color: black !important;
    color: white !important;
  }
}