<div class="openAddorDeletePopup">
  <h2 mat-dialog-title>Manage Columns</h2>
  <div mat-dialog-content>
    <div *ngFor="let column of columns; let i = index" class="column-row">
      <mat-form-field>
        <input
          matInput
          [(ngModel)]="columns[i]"
          placeholder="Column {{ i + 1 }}"
        />
      </mat-form-field>
      <button
        class="danger"
        mat-raised-button
        color="warn"
        (click)="deleteColumn(i)"
      >
        del
      </button>
    </div>
    <button mat-stroked-button color="primary" (click)="addColumn()">
      Add Column
    </button>
  </div>
  <div class="buttons" mat-dialog-actions>
    <button mat-button mat-dialog-close (click)="closePopup()">Close</button>
    <button mat-raised-button color="primary" (click)="saveColumns()">Save</button>
  </div>
</div>
