.mdc-snackbar {
    right: 0 !important;
    left: 65% !important
  }


mat-snack-bar-container{
    transform: scale(1) !important; 
    opacity: 1 !important;
    transform: scale(1);
    opacity: 1  !important;
    position: absolute !important;
    right: 0 !important;
    top: 0 !important;
    width: fit-content !important;
    height: fit-content !important;
    background-color: black; /* Green background for success */
    color: white;
    font-size: 16px;
  }
  